{% load static %}
            <div class="card">
  			<div class="card-header">
              <b>Forms and Invitations</b></h5>
              </div>
  			<div class="card-body">
          <marquee behavior="scroll" direction="up" scrollamount="1" scrolldelay="10" onmouseover="this.stop();" onmouseout="this.start();">
                <li><a href="#">Form 1 download link here.</a></li><hr></hr>
                <li><a href="#">Form 2 download link here.</a></li><hr></hr>
                <li><a href="#">Form 3 download link here.</a></li><hr></hr>
                <li><a href="#">Form 4 download link here.</a></li>
          </marquee>
            </div>
        	</div><br>