{% load static %}
{% include "vpn/header.html" %}
{% include "vpn/navbar.html" %}

  <main id="main">


    <!--==========================
      Our Team Section
    ============================-->
    <section id="team" class="section-bg">
      <div class="container">
        <div class="section-header">
          <h3 class="section-title"><img style="width: 120px;" src="{% static 'vpn/img/logo.png' %}" /><br><br>Training and Placement Functionaries</h3>
          <span class="section-divider"></span>
          <p class="section-description">Some brief content here.</p>
        </div>
        <!-- members details start -->
        <div class="row wow fadeInUp">
          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="{% static 'vpn/img/team/team-1.jpg' %}" alt=""></div>
              <h4>Team member name</h4>
              <span>Member's position</span>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="{% static 'vpn/img/team/team-1.jpg' %}" alt=""></div>
              <h4>Team member name</h4>
              <span>Member's position</span>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="{% static 'vpn/img/team/team-1.jpg' %}" alt=""></div>
              <h4>Team member name</h4>
              <span>Member's position</span>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="{% static 'vpn/img/team/team-1.jpg' %}" alt=""></div>
              <h4>Team member name</h4>
              <span>Member's position</span>
            </div>
          </div>
        </div>

        <div class="row wow fadeInUp">
          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="{% static 'vpn/img/team/team-1.jpg' %}" alt=""></div>
              <h4>Team member name</h4>
              <span>Member's position</span>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="{% static 'vpn/img/team/team-1.jpg' %}" alt=""></div>
              <h4>Team member name</h4>
              <span>Member's position</span>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="{% static 'vpn/img/team/team-1.jpg' %}" alt=""></div>
              <h4>Team member name</h4>
              <span>Member's position</span>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="{% static 'vpn/img/team/team-1.jpg' %}" alt=""></div>
              <h4>Team member name</h4>
              <span>Member's position</span>
            </div>
          </div>
        </div>
        

      </div>
    </section><!-- #team -->




  </main>


  {% include "vpn/footer.html" %}
