{% load static %}
{% include "vpn/header.html" %}
{% include "vpn/navbar.html" %}

  <main id="main">


    <!--==========================
      About Us Section
    ============================-->
    <section id="about" class="section-bg">
      <div class="container-fluid wow fadeInLeft">

           
            <div class="section-header">
          <h1 class="section-title"><img style="width: 120px;" src="{% static 'vpn/img/logo.png' %}" /><br><br>Training and Placement Functionaries</h1>
          <span class="section-divider"></span>
        </div>

            <div class="table-responsive">
            <table class="table table-striped">
  <thead>
    <tr>
      <th colspan="2" style="text-align: center;">Training and Placement Officials</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><img style="width: 300px;" src="{% static 'vpn/img/team/drsomesh.png' %}" /></th>
      <td style="vertical-align: middle;"><b>Dr. Somesh Kumar Sharma</b><br>
        Training & Placement Officer, NIT Hamirpur (HP)<br>
        <b>Email id:</b> <a href="mailto:tpo@nith.ac.in" target="_top">tpo@nith.ac.in</a><br>
        <b>Phone no's:</b> 01972-254591 (Office), 09805715100 (Mobile)
      </td>
    </tr>
    <tr>
      <th><img style="width: 300px;" src="{% static 'vpn/img/team/javishal.png' %}" /></th>
      <td style="vertical-align: middle;">
        <b>Sh. Vishal Narota</b><br>
        Junior Assistant, Training & Placement Office NIT Hamirpur (HP)<br>
        <b>Email id:</b> <a href="mailto:narotavishal@gmail.com" target="_top">narotavishal@gmail.com</a><br>
        <b>Phone no:</b> 09816597949 (Mobile)
      </td>
    </tr>
        <tr>
      <th><img style="width: 300px;" src="{% static 'vpn/img/team/man.png' %}" /></th>
      <td style="vertical-align: middle;">
        <b>Sh. Sanjay Kumar Jamwal</b><br>
      Assistant Registrar, Training & Placement Office NIT Hamirpur (HP)</td>
    </tr>
  </tbody>
  <thead>
    <tr>
      <th colspan="2" style="text-align: center;">Student Training and Placements Coordinators/Representatives 2018-19</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><img style="width: 300px;" src="{% static 'vpn/img/team/rishabh.jpeg' %}" /></th>
      <td style="vertical-align: middle;">
        <b>Rishabh</b><br>
        Student Training and Placement Coordinator<br>
        <b>Teams:</b> Technical Innovation and Support, Industry Interaction (CSE Dual Degree)<br>
        <b>Department:</b> Computer Science and Engineering<br>
        <b>Email id's:</b> <a href="mailto:cs14mi508@nith.ac.in" target="_top">cs14mi508@nith.ac.in</a>, <a href="mailto:rishabh0402@gmail.com" target="_top">rishabh0402@gmail.com</a><br>
        <b>Phone no:</b> 9805126955 (Mobile)<br>
        <b>Website:</b> <a target="_blank" href="https://rishabhchaudhary.in/">https://rishabhchaudhary.in/</a>
      </td>
    </tr>
    <tr>
      <th><img style="width: 300px;" src="{% static 'vpn/img/team/giriraj.png' %}" /></th>
      <td style="vertical-align: middle;">
        <b>Giriraj Saigal</b><br>
        Student Training and Placement Coordinator (CSE Dual Degree)<br>
        <b>Team:</b> Recruitment Drive and Discipline<br>
        <b>Department:</b> Computer Science and Engineering<br>
        <b>Email id:</b> <a href="mailto:girirajsaigal@gmail.com" target="_top">girirajsaigal@gmail.com</a><br>
        <b>Phone no:</b> 9805076186 (Mobile)<br>
      </td>
    </tr>
  </tbody>
</table>
</div>

          
      </div>

    </section><!-- #about -->
    {% include "vpn/company_slider.html" %}




  </main>


  {% include "vpn/footer.html" %}
