{% load static %}
{% include "vpn/header.html" %}
{% include "vpn/navbar.html" %}


  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">

    <div class="intro-text">
      <h2>May all who enter as recruiters,<br> leave as associates of NIT Hamirpur.</h2>
    </div>
    <div class="intro-text1">
    <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- #intro -->

  <main id="main">


    <!--==========================
      About Us Section
    ============================-->
    <section id="about" class="section-bg">
      <div class="container-fluid">
        <div class="section-header">
          <h3 class="section-title"><img style="width: 120px;" src="{% static 'vpn/img/logo.png' %}" /><br><br>Training and Placement Office</h3>
          <span class="section-divider"></span>
          <p class="section-description">Training & Placement department was established in this institute in the year 1995. Since then lots of activities are being conducted within the ambit of this department for the benefit of students.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 about-img wow fadeInLeft">

            {% include "vpn/placement_breifs.html" %}
            {% include "vpn/placement_news.html" %}

          </div>

          <div class="col-lg-8 content wow fadeInRight">
          	
  			
            <h2>Title of the post here</h2>
            
            <h3>A brief description of the post here.</h3>
            <p>
              More than 75% of total students placed under campus placement.Recruitment for every batch starts from August onwards.Above 30% of students are getting more than one placement. 
            </p>

            <ul>
              <li><i class="ion-android-checkmark-circle"></i> Every year, more than 50 reputed companies including MNC's visit NIT Hamirpur</li>
              <li><i class="ion-android-checkmark-circle"></i> Almost all eligible students are placed in companies of International and National repute under campus placement. </li>
            </ul>

            <p>
               In every branch about 15% students crack various post graduate exams like CAT, GRE, GATE, GMAT etc. These students get recruited by top universities around the world. 
            </p>
          
	    </div>
	</div>

      </div>
    </section><!-- #about -->




  </main>


  {% include "vpn/footer.html" %}
