{% load static %}
<body>

  <!--==========================
    Header
  ============================-->
<div class="above-nav">
  <div class="container">
  	<a href="/"><img src="{% static 'vpn/img/new-main-logo.png' %}" alt="Office of Training and Placement, NIT Hamirpur" title="Office of Training and Placement, NIT Hamirpur"></a>
  </div>
</div>
  <header id="header">
    <div class="container disp">

      <div id="logo" class="pull-left">
      	<h1><a href="/" class="scrollto"><img src="{% static 'vpn/img/new-logo.png' %}" alt="Office of Training and Placement, NIT Hamirpur" title="Office of Training and Placement, NIT Hamirpur"></a></h1>
        <!-- <h1><a href="#intro" class="scrollto">Avilon</a></h1>-->
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#intro"><img src="img/logo.png" alt="" title=""></a> -->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu disp">
          <li class="menu-has-children menu-active"><a href="/">Home</a>
                <ul>
                  <li><a href="#">Director's Desk</a></li>
                  <li><a href="#">Training and Placement Office</a></li>
              	</ul>
           </li>
           <li class="menu-has-children"><a href="#">Placements</a>
           		<ul>
                  <li><a href="#">Placement Procedure</a></li>
                  <li><a href="#">Placement Record</a></li>
                  <li><a href="#">Proud Recruiters</a></li>
              	</ul>
           </li>
          <li class="menu-has-children"><a href="#">Training/Internship</a>
          		<ul>
                  <li><a href="#">Internship Procedure</a></li>
                  <li><a href="#">Training/Internship Opportunities at NITH</a></li>
              	</ul>
          </li>
          <li><a href="#gallery">TnP Functionaries</a></li>
          <li class="menu-has-children"><a href="#">Miscellaneous</a>
                <ul>
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">How To Reach NIT Hamirpur</a></li>
              	</ul>
           </li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->