{% load static %}
            <div class="card">
  			<div class="card-header">
              <b>Placement Breifs at NIT Hamirpur</b></h5>
              </div>
  			<div class="card-body">
                <li>Placement brief 1 is here, this brief is just a trial to check the limits of the box. A brief can be of 100 characters.</li><hr></hr>
                <li>Placement brief 2 is here, this brief is just a trial to check the limits of the box.</li><hr></hr>
                <li>Placement brief 3 is here, check the limits of the box.</li><hr></hr>
                <li>Placement brief 4 is here.</li>
            </div>
        	</div><br>