{% load static %}
            <div class="card">
  			<div class="card-header">
              <b>Latest Placement news</b></h5>
              </div>
  			<div class="card-body">
                <li>Placement news 1 is here, this news is just a trial to check the limits of the box. A news can be of 100 characters.</li><hr></hr>
                <li>Placement news 2 is here, this news is just a trial to check the limits of the box.</li><hr></hr>
                <li>Placement news 3 is here.</li><hr></hr>
                <li>Placement news 4 is here, check the limits of the box.</li>
                </div>
        	</div><br>