{% load static %}
{% include "vpn/header.html" %}
{% include "vpn/navbar.html" %}

  <main id="main">


    <!--==========================
      Gallery Section
    ============================-->
    <section id="team" class="section-bg">
      <div class="container">
        <div class="section-header">
          <h3 class="section-title">Proud Recruiters</h3>
          <span class="section-divider"></span>
          <p class="section-description">Some brief content here.</p>
        </div>
      
        <!-- gallery starts -->

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-6">
            <div class="gallery-item wow fadeInUp">
              <a href="{% static 'vpn/img/team/client-1.png' %}" class="gallery-popup">
                <img src="{% static 'vpn/img/team/client-1.png' %}" alt="">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="gallery-item wow fadeInUp">
              <a href="{% static 'vpn/img/team/client-5.png' %}" class="gallery-popup">
                <img src="{% static 'vpn/img/team/client-5.png' %}" alt="">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="gallery-item wow fadeInUp">
              <a href="{% static 'vpn/img/team/client-1.png' %}" class="gallery-popup">
                <img src="{% static 'vpn/img/team/client-1.png' %}" alt="">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="gallery-item wow fadeInUp">
              <a href="{% static 'vpn/img/team/client-5.png' %}" class="gallery-popup">
                <img src="{% static 'vpn/img/team/client-5.png' %}" alt="">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="gallery-item wow fadeInUp">
              <a href="{% static 'vpn/img/team/client-1.png' %}" class="gallery-popup">
                <img src="{% static 'vpn/img/team/client-1.png' %}" alt="">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="gallery-item wow fadeInUp">
              <a href="{% static 'vpn/img/team/client-5.png' %}" class="gallery-popup">
                <img src="{% static 'vpn/img/team/client-5.png' %}" alt="">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="gallery-item wow fadeInUp">
              <a href="{% static 'vpn/img/team/client-1.png' %}" class="gallery-popup">
                <img src="{% static 'vpn/img/team/client-1.png' %}" alt="">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="gallery-item wow fadeInUp">
              <a href="{% static 'vpn/img/team/client-5.png' %}" class="gallery-popup">
                <img src="{% static 'vpn/img/team/client-5.png' %}" alt="">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="gallery-item wow fadeInUp">
              <a href="{% static 'vpn/img/team/client-1.png' %}" class="gallery-popup">
                <img src="{% static 'vpn/img/team/client-1.png' %}" alt="">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="gallery-item wow fadeInUp">
              <a href="{% static 'vpn/img/team/client-5.png' %}" class="gallery-popup">
                <img src="{% static 'vpn/img/team/client-5.png' %}" alt="">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="gallery-item wow fadeInUp">
              <a href="{% static 'vpn/img/team/client-1.png' %}" class="gallery-popup">
                <img src="{% static 'vpn/img/team/client-1.png' %}" alt="">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="gallery-item wow fadeInUp">
              <a href="{% static 'vpn/img/team/client-5.png' %}" class="gallery-popup">
                <img src="{% static 'vpn/img/team/client-5.png' %}" alt="">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="gallery-item wow fadeInUp">
              <a href="{% static 'vpn/img/team/client-1.png' %}" class="gallery-popup">
                <img src="{% static 'vpn/img/team/client-1.png' %}" alt="">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="gallery-item wow fadeInUp">
              <a href="{% static 'vpn/img/team/client-5.png' %}" class="gallery-popup">
                <img src="{% static 'vpn/img/team/client-5.png' %}" alt="">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="gallery-item wow fadeInUp">
              <a href="{% static 'vpn/img/team/client-1.png' %}" class="gallery-popup">
                <img src="{% static 'vpn/img/team/client-1.png' %}" alt="">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="gallery-item wow fadeInUp">
              <a href="{% static 'vpn/img/team/client-5.png' %}" class="gallery-popup">
                <img src="{% static 'vpn/img/team/client-5.png' %}" alt="">
              </a>
            </div>
          </div>

          

          

        </div>

      </div>
    </section><!-- #gallery -->




  </main>


  {% include "vpn/footer.html" %}
