{% load static %}
<div class="card">
    <div class="card-header">
        <b>Latest Placement news</b></h5>
    </div>
    <div class="card-body">
        <marquee behavior="scroll" direction="up" scrollamount="2" scrolldelay="10" onmouseover="this.stop();" onmouseout="this.start();">
            <li>NIT Hamirpur invited applications for the internship program in the different department/center of the Institute.</li>
            <hr>
            <li>The students studying at NIT Hamirpur and outside the institute can be benefitted from this internship program offered by NIT Hamirpur.</li>
            <hr>
            <li>The best internship project/report in each department/center will be awarded by the Institute.</li>
        </marquee>
    </div>
</div>
<br>