{% load static %}
<div class="card">
    <div class="card-header">
        <b>Proud Recruiters</b></h5>
    </div>
    <div class="card-body">
        <marquee behavior="scroll" direction="up" scrollamount="5" scrolldelay="0" onmouseover="this.stop();" onmouseout="this.start();">
            <center>
                <img src="{% static 'vpn/img/companies/accen.png' %}" alt="">
                <hr>
                <img src="{% static 'vpn/img/companies/ang.png' %}" alt="">
                <hr>
                <img src="{% static 'vpn/img/companies/bloomberg.png' %}" alt="">
                <hr>
                <img src="{% static 'vpn/img/companies/bosch.jpg' %}" alt="">
                <hr>
                <img src="{% static 'vpn/img/companies/cap.jpg' %}" alt="">
                <hr>
                <img src="{% static 'vpn/img/companies/godrej.png' %}" alt="">
                <hr>
                <img src="{% static 'vpn/img/companies/hsbc.png' %}" alt="">
                <hr>
                <img src="{% static 'vpn/img/companies/ibm.png' %}" alt="">
                <hr>
                <img src="{% static 'vpn/img/companies/infosys.jpg' %}" alt="">
                <hr>
                <img src="{% static 'vpn/img/companies/jio.jpg' %}" alt="">
                <hr>
                <img src="{% static 'vpn/img/companies/jp.png' %}" alt="">
                <hr>
                <img src="{% static 'vpn/img/companies/lnt.jpg' %}" alt="">
                <hr>
                <img src="{% static 'vpn/img/companies/wipro.png' %}" alt="">
                <hr>
                <img src="{% static 'vpn/img/companies/united.png' %}" alt="">
                <hr>
                <img src="{% static 'vpn/img/companies/uhg.png' %}" alt="">
                <hr>
                <img src="{% static 'vpn/img/companies/sap.png' %}" alt="">
                <hr>
                <img src="{% static 'vpn/img/companies/samsung.png' %}" alt="">
                <hr>
                <img src="{% static 'vpn/img/companies/oracle.jpg' %}" alt="">
                <hr>
                <img src="{% static 'vpn/img/companies/maruti.jpg' %}" alt="">
                <hr>
                <img src="{% static 'vpn/img/companies/lntin.png' %}" alt="">
            </center>
        </marquee>
    </div>
</div>
<br>